<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/admin/layout1 :: layout(~{::head}, ~{::main})}">
	<head>
		<title>상품 관리</title>
	    <link rel="stylesheet" href="/css/admin/boardlist.css">
	</head>
	<main>
		<h1>메인컨텐츠</h1>
		<div class="wrap">
			<section class="table-tilte flex between">
				<h2>등록된 상품 리스트</h2>
				<a href="/admin/item/write">등록</a>
			</section>
			<section class="board-container">
				<div class="board-items flex center acenter" th:each="dto: ${items}">
					<img class="imgs" alt="이미지" th:src="${dto.fileUrl}">
					<section class="text">
						<p class="bno" style="display: none;">[[${dto.itmeNo}]]</p>
						<p class="title">[[${dto.name}]]</p>
						<div class="flex">
							<a th:href="|/admin/item/${dto.itmeNo}|"><button type="button" class="board-btn">자세히</button></a>
							<button type="button" class="del-btn board-btn">삭제</button>
						</div>
					</section>
				</div>
				<!-- 홈페이지에 보여질 것 인지 체크 -->
				<script type="text/javascript">
				$(function(){	
					$(function(){
						$(".del-btn").click(function(){
							var bno=$(this).parents(".text").find(".bno").text();
							var token = $("meta[name='_csrf']").attr("content");
				    		var header = $("meta[name='_csrf_header']").attr("content");
				    		
				    		console.log(bno);
				    		
				    		$.ajax({
				    			beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
								url:"/admin/item/" + bno + "/delect",
								type:"post",
								success:function(result){
									if(result){
										let url= "/admin/item";
										location.replace(url);
										alert("삭제처리완료");
									}
								}
							});
				    			
						});
					});
				});
				</script>
			</section>
		</div>
	</main>
</html>

