@charset "UTF-8";

main > .wrap {
	width: 1100px;
    margin: 0 auto;
}

.imgs {
	width: 300px;
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 70px;
}

.item-btn
{
	width: 45%;
    text-align: center;
    height: 3em;
    border: 1px solid;
    cursor: pointer;
}

.item-detail__content{
	text-align: center;
	margin-top: 2em;
}