<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/admin/layout1 :: layout(~{::head}, ~{::main})}">
	<head>
		<title>챌린지 관리</title>
	    <link rel="stylesheet" href="/css/admin/boardlist.css">
	</head>
	<main>
		<h1>메인컨텐츠</h1>
		<div class="wrap">
			<section class="table-tilte flex between">
				<h2>챌린지 리스트</h2>
				<a href="/admin/challenge/write">등록</a>
			</section>
			<section class="board-container">
				<div class="board-items flex center acenter" th:each="dto, i : ${boards}">
					<section class="imgs" th:style="|background-image: url(${dto.url+dto.orgName});|"></section>
					<section class="text">
						<p class="bno" style="display: none;">[[${dto.boardNo}]]</p>
						<p class="title">[[${dto.title}]]</p>
						<div class="flex start">
							<span class="status">[[${dto.name}]]</span>
							<label th:for="|cb-isShow-${i.count}|" class="flex acenter "><input th:id="|cb-isShow-${i.count}|" class="cb-isShow" type="checkbox" checked="checked" th:checked="${dto.isShow}">적용</label>
						</div>
						<p class="date">시작날짜가 들어갑니다</p>
						<div class="flex">
							<a th:href="|/admin/challenge/${dto.boardNo}|"><button type="button" class="board-btn">자세히</button></a>
							<button type="button" class="del-btn board-btn">삭제</button>
						</div>
					</section>
				</div>
				<!-- 홈페이지에 보여질 것 인지 체크 -->
				<script type="text/javascript">
				$(function(){
					$(".cb-isShow").change(function(){
						//alert($(this).attr("checked"));
						var bno= $(this).parents(".text").find(".bno").text();
						var isShow = ($(this).prop("checked"));
						var token = $("meta[name='_csrf']").attr("content");
			    		var header = $("meta[name='_csrf_header']").attr("content");
			    			
			    		$.ajax({
			    			beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
							url:"/admin/board/" + bno + "/isShow",
							type:"post",
							data:{"isShow":isShow},
							success:function(result){
								if(result){
									alert("수정처리완료");
								}
							}
						});
						
					});
						
					$(function(){
						$(".del-btn").click(function(){
							var bno=$(this).parents(".text").find(".bno").text();
							var token = $("meta[name='_csrf']").attr("content");
				    		var header = $("meta[name='_csrf_header']").attr("content");
				    			
				    		$.ajax({
				    			beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
								url:"/admin/board/" + bno + "/delect",
								type:"post",
								success:function(result){
									if(result){
										let url= "/admin/boards";
										location.replace(url);
										alert("삭제처리완료");
									}
								}
							});
				    			
						});
					});
				});
				</script>
			</section>
		</div>
	</main>
</html>

