@charset "UTF-8";
/* 관리자 메뉴 크기 설정 */
#top-menu {
	width: 570px;
}
/*  input->checkbox  */
input[type="checkbox"]{
	width: 25px;
	height: 25px;
	border: 1px solid;
	background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.main > div .vimg {
	margin: 1em 0;
}

/* 사이즈 정의 */
main>.wrap {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px;
}

.main > div:first-child {
	line-height: 50px;
}

.num-size,
.item-num-size {
	width: 45px;
}

.img-size {
	width: 600px;
}

.bg {
	height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.vno {
	display: none;
}

.item-title-size {
	width: 600px;
}

.title-size {
	width: 120px;
}

.sub-size {
	width: 190px;
}

.list-btn{
	cursor: pointer;
}