<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/admin/layout1 :: layout(~{::head}, ~{::main})}">
	<head>
		<title>event 배너 관리</title>
	    <link rel="stylesheet" href="/css/admin/list.css">
	</head>
	<main>
		<h1>메인컨텐츠</h1>
		<div class="wrap">
			<section class="table-tilte flex between">
				<h2>이벤트 배너 리스트</h2>
				<a href="/admin/event/write">등록</a>
			</section>
			<section class="main">
				<div class="flex">
					<p class="num-size">순서</p>
					<p class="img-size">이미지</p>
					<p class="title-size">제목</p>
					<p class="sub-size">설명</p>
					<p class="title-size">적용여부</p>
					<p class="title-size">관리</p>
				</div>
				<div>
					<ul>
						<li class="vimg flex acenter" th:each="dto, i : ${events}">
							<p class="vno">[[${dto.vno}]]</p>
							<p class="num-size">[[${dto.num}]]</p>
							<div class="bg img-size" th:style="|background-image: url(${dto.url+dto.orgName});|"></div>
							<span th:utext="${dto.title}" class="title title-size"></span>
							<span th:utext="${dto.sub}" class="sub sub-size"></span>
							<div class="title-size flex center acenter">
								<label th:for="|cb-isShow-${i.count}|" class="flex acenter"><input th:id="|cb-isShow-${i.count}|" class="cb-isShow" type="checkbox" checked="checked" th:checked="${dto.isShow}">적용</label>
							</div>
							<button type="button" class="title-size list-btn">삭제</button>
						</li>
					</ul>
					<script type="text/javascript">
					$(function(){
						$(".cb-isShow").change(function(){
							//alert($(this).attr("checked"));
							var vno=$(this).parents("li").find(".vno").text();
							var isShow = ($(this).prop("checked"));
							var token = $("meta[name='_csrf']").attr("content");
			    			var header = $("meta[name='_csrf_header']").attr("content");
			    			
			    			$.ajax({
			    				beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
								url:"/admin/visuals/" + vno + "/isShow",
								type:"post",
								data:{"isShow":isShow},
								success:function(result){
									if(result){
										alert("수정처리완료");
									}
								}
							});
						
						});
						
						$(function(){
							$(".list-btn").click(function(){
								var vno=$(this).parents("li").find(".vno").text();
								var token = $("meta[name='_csrf']").attr("content");
				    			var header = $("meta[name='_csrf_header']").attr("content");
				    			
				    			$.ajax({
				    				beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
									url:"/admin/visuals/" + vno + "/delect",
									type:"post",
									success:function(result){
										if(result){
											let url= "/admin/event";
											location.replace(url);
											alert("삭제처리완료");
										}
									}
								});
				    			
							});
						});
					});
					</script>
				</div>
			</section>
		</div>
	</main>
</html>

