@charset "UTF-8";

main > .wrap {
	width: 1000px;
	margin: 0 auto;
}

main > .wrap > section {
	width: 800px;
	margin: 0 auto;
}

.wrap > ul {
	width: 450px;
	margin: 0 auto;
}

.lidiv > div > div{
	margin-right: 0.8em;
}

#btn-payment {
	width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #FF4243;
    margin: 1em;
    border-radius: 0.2em;
    padding: 0.2em 0;
}