<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:replace="~{layout/my/layout1 :: layout(~{::head}, ~{::div})}">
	<head>
		<title>정보수정</title>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	    <link rel="stylesheet" href="/css/my/info.css">
	</head>
	<div class="faq-content">
		<div class="flex column">
			<section id="index-img">
				<span class="material-icons index-img">account_circle</span>
			</section>
			<section id="index-info" class="flex column between">
				<div>
					<p sec:authentication="name">username</p>
				</div>
				<div class="flex around">
					<section id="email-signup">
						<div th:if="${error}" class="error">
							<span th:text=${error}></span>
						</div>
						<form action="/my/info/pass" method="post"> 
							<ul>
								<li class="flex around">
									<p>사용자 이름</p>
									<p>[[${memberInfo.name}]]</p>
								</li>
								<li class="flex around">
									<input type="text" placeholder="변경할 이름" name="name">
								</li>
								<li class="flex around">
									<label th:for="|cb-isShow-${count}|" class="flex acenter ">회원탈퇴
										<input th:id="|cb-isShow-${count}|" class="cb-isShow" type="checkbox" checked="checked" th:checked="${memberInfo.deleted}">
									</label>
								</li>
								<li>
									<input type="hidden" id="no" th:value="${memberInfo.mno}">
									<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" >
									<button type="submit">정보변경</button>
								</li>
							</ul>
							<script type="text/javascript">
							$(function(){
								$(".cb-isShow").change(function(){
									alert("정말 탈퇴하겠습니까?");
									let no= $(this).parents("ul").find("#no").val();
									let isCheck = ($(this).prop("checked"));
									console.log(no);
									console.log(isCheck);
									let token = $("meta[name='_csrf']").attr("content");
						    		let header = $("meta[name='_csrf_header']").attr("content");
						    			
						    		$.ajax({
						    			beforeSend:function(xhr){xhr.setRequestHeader(header, token);},
										url:"/common/member/" + no + "/deleted",
										type:"post",
										data:{"isCheck":isCheck},
										success:function(result){
											location.replace("/login");
										}
									});
									
								});
							});
							</script>
						</form>
					</section>
				</div>
			</section>
		</div>
	</div>
</html>